<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
	  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  	<script type="text/javascript" src="../static/js/wordcloud.js"></script>
	  	<script type="text/javascript" src="../static/js/config.js"></script>
	  	<title>Most frequent words in a website</title>
	</head>
	<body>

	<script type="text/javascript">
		function post_request(){
			var url = $("#url").val();
		    var data = {url: url, token: 1}
		    $.ajax({
		        		type: "POST",
		        		//url: "http://172.29.155.27:8888/result",
		        		url: "http://" + config.url + ":8888/result",
		        		contentType: 'application/json',
		        		data : JSON.stringify(data),
		        		success: function(result){
            					var d=[];
            					var obj = result["result"];
								for (var key in obj) {
									var temp=[];
									if (obj.hasOwnProperty(key)) {
									    temp.push(key);
									    // here 2 is added as a baseline score for the wordcloud
									    //to show the text which is visible. Unfortunately, minSize
									    //of wordcloud is not supported everywhere
									    temp.push(obj[key] + config.delta); 
									  }
									  d.push(temp);
									}
            					wordcloud(d);
        					}});
		}
	</script>
	<script type="text/javascript">
		window.onload = function() {
  			$("#canvas").hide();
		};
	</script>
	
	<script type="text/javascript">
		function wordcloud(d) {
			$("#canvas").show();
			WordCloud(document.getElementById('canvas'), { 
				list: d,
				gridSize: Math.round(10 * $('#canvas').width() / 1024),
				weightFactor: function (size) {
    				return Math.pow(size, 2.3) * $('#canvas').width() / 1024;
  				},
				backgroundColor: '#000',
				fontFamily: 'Times, serif',
				rotateRatio: 0.5,
  				rotationSteps: 2
  			} );
		}
	</script>
	<div class="container">
	<h2> Enter the URL below : </h2>
    	<div class="form-group">
	    <label for="usr">URL:</label>
	    <input type="text" class="form-control" id="url">
			<!--URL: <input type="text" id="url" name="url"><br>-->
	</div>
	<div class="form-group">
	<!--
			<input id="submit" value="Submit" onclick="post_request()">
			-->
			<button type="button" class="btn btn-success" onclick="post_request()">Submit</button>
	</div>
	<div id="canvas" style="width: 900">
		<canvas id="canvas" width="700" height="700" style="border:1px solid #000000;">
			Your browser does not support the HTML5 canvas tag.
		</canvas>

	</div>
	</div>
	</body>
</html>
